<!DOCTYPE HTML>
<html>
	<head>
		<title>Compiler</title>

	<style>
		textarea
			{ background-color: black;
			  color: white;
			}
	</style>
	<!-- <link href="../css/bootstrap.min.css" rel="stylesheet"> -->
	<script>
		function display() {
			document.getElementById("text").innerHTML = "Type Code in the textbox and hit compile! to see the results";

		}
	</script>
	</head>

	<body >
		<!-- <div id="tutorial">
			<input type="button" value="How?" onclick="display()" />
			<div id="text"></div>
		</div> -->
	<!-- <center> -->
		<form id="userinput" action="/" method="POST">
			<select name ="languages">
						<option selected="selected" disabled="disabled">Select Language</option>
				{% for language in languages %}
					<option value="{{language}}">{{language}}</option>
				{% endfor %}
			</select>
		{% if current_lang != '' %}
		<script> document.getElementsByName('languages')[0].value = "{{current_lang}}"; </script>
		{% endif %}
		<div id="inputcode">
			<h3>Editor</h3>
			<textarea rows="50" cols="100" name="prog" spellcheck="false" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{ prog }}</textarea>
		</div>
		<div id="inputs">
			<h3>Input</h3>
			<textarea rows="4" cols="100" name="input">{{ input }}</textarea><br>
		</div>
		<div id="remarks" style="background-color: #6CEEC0">
			<h3>Remarks</h3>
			<textarea rows="4" cols="100" name="remark" readonly>{{ remarks }}</textarea><br>
		</div>
		<div id="output" >
			<h3>Output</h3>
			<textarea rows="4" cols="50" name="output" readonly>{{ output }}</textarea>
		<br></div><br>
		<input type="submit" value="Submit" style="font-size: 20px;">
		</form>
	<!-- </center> -->
	</body>
</html>
